
@media(max-width:1600px){
    
}
@media(max-width:1400px){
    
}
@media(max-width:1400px) and (min-width:1200px){
    
}
@media(max-width:1200px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .order-lg-change{
        order: -1;
    }
    
}
@media(max-width:1200px) and (min-width:991px){
    
}
@media(max-width:991px){
   
}
@media(max-width:991px) and (min-width:768px){

}
@media(max-width:768px){
    
}
@media(max-width:768px) and (min-width:576px){
    
}
@media(max-width:576px){
    
}
@media(max-width:576px) and (min-width:450px){

}
@media(max-width:450px){
    
}
